---
http_interactions:
- request:
    method: post
    uri: https://lambda.<AWS_LAMBDA_REGION>.amazonaws.com/2015-03-31/functions/TulsaJailScraper/invocations
    body:
      encoding: UTF-8
      string: '{"page number":1}'
    headers:
      X-Amz-Invocation-Type:
        - RequestResponse
      X-Amz-Log-Type:
        - None
      Content-Type:
        - application/json
      X-Amz-Date:
        - 20221017T174135Z
      X-Amz-Content-Sha256:
        - 3fea1d03a81a63849b9047d27faa14c4fe152f28d652427da8ee8fe3a15ffc44
      Authorization:
        - AWS4-HMAC-SHA256 Credential=<AWS_LAMBDA_KEY>/20221017/<AWS_LAMBDA_REGION>/lambda/aws4_request,
          SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-invocation-type;x-amz-log-type,
          Signature=908b69933ee40d3e70120e926a1de1f3ddcf1991e43f1da67f32725a69005ccb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json
      X-Amzn-Requestid:
        - f564f835-e480-4007-95e7-593b07f2b16f
      X-Amzn-Remapped-Content-Length:
        - '0'
      X-Amz-Executed-Version:
        - "$LATEST"
    body:
      encoding: UTF-8
      string: '{"statusCode": 200, "body": {"result": "success", "data": "{\n    \"Bookings
    Html\": \"<!DOCTYPE html>\\r\\n<html>\\r\\n<head>\\r\\n    <meta charset=\\\"utf-8\\\"
    />\\r\\n    <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1.0\\\">\\r\\n    <title>Booking
    Index - Inmate Information Center</title>\\r\\n    <link href=\\\"/Content/bootstrapcss?v=H9SRIoswzRKebg0aQc2lwF_i1SVvVddIRoIHHnHZjl41\\\"
    rel=\\\"stylesheet\\\"/>\\r\\n\\r\\n    <link href=\\\"/Content/css?v=1G9TsiuLhB_p47aBz_15Al5OMs50P3WHqdl6jKANaPs1\\\"
    rel=\\\"stylesheet\\\"/>\\r\\n\\r\\n    <script src=\\\"/bundles/modernizr?v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1\\\"></script>\\r\\n\\r\\n\\r\\n</head>\\r\\n<body>\\r\\n\\r\\n    <div
    class=\\\"navbar navbar-inverse navbar-fixed-top\\\">\\r\\n        <div class=\\\"templatemo-top-bar\\\"
    id=\\\"templatemo-top\\\">\\r\\n            <div class=\\\"container\\\">\\r\\n                <div
    id=\\\"tag\\\" class=\\\"pull-left\\\">\\r\\n                    Inmate Information
    Center\\r\\n                </div>\\r\\n            </div>\\r\\n        </div>\\r\\n        <div
    class=\\\"container\\\">\\r\\n            <div class=\\\"navbar-header\\\">\\r\\n                <button
    type=\\\"button\\\" class=\\\"navbar-toggle\\\" data-toggle=\\\"collapse\\\"
    data-target=\\\".navbar-collapse\\\">\\r\\n                    <span class=\\\"icon-bar\\\"></span>\\r\\n                    <span
    class=\\\"icon-bar\\\"></span>\\r\\n                    <span class=\\\"icon-bar\\\"></span>\\r\\n                </button>\\r\\n                <a
    class=\\\"navbar-brand\\\" href=\\\"/\\\" title=\\\"Home\\\">\\r\\n                    <div
    class=\\\"col-sm-12\\\">\\r\\n                        <div class=\\\"mylogo\\\">\\r\\n                            <img
    class=\\\"mybanner\\\" src=\\\"/images/bannerlogo@2x.png\\\" alt=\\\"logo\\\"
    />\\r\\n                        </div>\\r\\n                    </div>\\r\\n                </a>\\r\\n            </div>\\r\\n            <div
    class=\\\"navbar-collapse collapse\\\">\\r\\n                <ul class=\\\"nav
    navbar-nav\\\">\\r\\n                    <li><a href=\\\"/\\\">Home</a></li>\\r\\n                    \\r\\n                    <li
    class=\\\"dropdown no-border-radius no-shadow\\\">\\r\\n                        <a
    data-toggle=\\\"dropdown\\\" href=\\\"javascript:;\\\" class=\\\"dropdown-toggle\\\">\\r\\n                            Search<span
    class=\\\"caret\\\"></span>\\r\\n                        </a>\\r\\n                        <ul
    class=\\\"dropdown-menu\\\">\\r\\n                            <li><a href=\\\"/expInmateBookings\\\">Name
    Search</a></li>\\r\\n                            <li><a href=\\\"/expInmateBookings/BookingIndex\\\">Booking
    ID List</a></li>\\r\\n                        </ul>\\r\\n                    </li>\\r\\n                    <li><a
    href=\\\"/Home/Links\\\">Links</a></li>\\r\\n                    <li><a href=\\\"/Home/Faqs\\\">FAQs</a></li>\\r\\n                    <li><a
    href=\\\"/Home/Maps\\\">Maps</a></li>\\r\\n                    <li><a href=\\\"/Home/Notice\\\">Legal
    Notice</a></li>\\r\\n                </ul>\\r\\n\\r\\n            </div>\\r\\n        </div>\\r\\n    </div>\\r\\n\\r\\n    <div
    class=\\\"container-fluid body-content\\\">\\r\\n        \\r\\n\\r\\n\\r\\n<div
    id=\\\"mygrid\\\">\\r\\n\\r\\n    <h2 class=\\\"column-title\\\">Inmate Information
    Center</h2>\\r\\n    <p style=\\\"font-size:.9em;font-weight:400; margin-left:5px;\\\">Information
    was last updated: <b>10/17/2022 12:05:01 PM</b></p>\\r\\n\\r\\n<form action=\\\"/expInmateBookings/BookingReindex\\\"
    method=\\\"post\\\">        <div class=\\\"filters\\\">\\r\\n            <div
    class=\\\"container-fluid\\\">\\r\\n                <div class=\\\"row\\\">\\r\\n                    <div
    class=\\\"col-md-12\\\">\\r\\n                        <p style=\\\"font-size:1.5em;font-weight:700;
    margin-left:5px;\\\"> Filter By</p>\\r\\n                    </div>\\r\\n                </div>\\r\\n                <div
    class=\\\"row\\\">\\r\\n                    <div class=\\\"col-md-12\\\">\\r\\n\\r\\n                        <ul>\\r\\n                            <li>\\r\\n                                <div
    class=\\\"form-horizontal\\\">\\r\\n                                    <div
    class=\\\"input-group\\\">\\r\\n                           <input PlaceHolder=\\\"Booking
    Date\\\" class=\\\"form-control datepicker\\\" id=\\\"bookingdate\\\" name=\\\"searchBookingDate\\\"
    type=\\\"text\\\" value=\\\"\\\" />\\r\\n                                </div>\\r\\n                                </div>\\r\\n                            </li>\\r\\n                          \\r\\n                            <li>\\r\\n                                <div
    class=\\\"form-horizontal\\\">\\r\\n                                    <div
    class=\[...]
- request:
    method: post
    uri: https://lambda.<AWS_LAMBDA_REGION>.amazonaws.com/2015-03-31/functions/TulsaJailScraper/invocations
    body:
      encoding: UTF-8
      string: '{"page number":87}'
    headers:
      X-Amz-Invocation-Type:
        - RequestResponse
      X-Amz-Log-Type:
        - None
      Content-Type:
        - application/json
      X-Amz-Date:
        - 20221017T174705Z
      X-Amz-Content-Sha256:
        - 6ef78270091fded50f66a9eabfc03fceab8e7d5dee9d6259f4299bafc7e803f3
      Authorization:
        - AWS4-HMAC-SHA256 Credential=<AWS_LAMBDA_KEY>/20221017/<AWS_LAMBDA_REGION>/lambda/aws4_request,
          SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-invocation-type;x-amz-log-type,
          Signature=c5331b83eb7e0bb41250778befb140dcbfb6f98ac492bcc9bab1075633faa0bb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json
      X-Amzn-Requestid:
        - bdf1e8f9-28ec-4b62-89b5-5a356afaf327
      X-Amz-Function-Error:
        - Unhandled
      X-Amzn-Remapped-Content-Length:
        - '0'
      X-Amz-Executed-Version:
        - "$LATEST"
    body:
      encoding: UTF-8
      string: '{"errorMessage": "Booking Index does not have page_num 87. The last
    page is 87", "errorType": "StopIteration", "stackTrace": ["  File \"/var/task/lambda_function.py\",
    line 17, in lambda_handler\n    page_html = scrape_all(page_num=page_num)\n",
    "  File \"/var/task/scraper.py\", line 17, in scrape_all\n    results = scrape_all_for_page(page_num)\n",
    "  File \"/var/task/scraper.py\", line 41, in scrape_all_for_page\n    bookings_html
    = scrape_bookings(page_num)\n", "  File \"/var/task/scraper.py\", line 80,
    in scrape_bookings\n    raise StopIteration(f''Booking Index does not have
    page_num {page_num}. The last page is {last_page}'')\n"]}'
  recorded_at: Mon, 17 Oct 2022 17:47:05 GMT
recorded_with: VCR 6.1.0
