<h2>Evictions File (ID: <%= @eviction_file.id %>)</h2>
<h5>Generated At: <%= @generated_at.strftime('%m/%d/%Y %l:%M %p') %></h5>
<h5>Days Included in File: <%= @start.strftime('%m/%d/%Y') %> - <%= @finish.strftime('%m/%d/%Y') %></h5>
<p>
  The attached file contains the latest evictions data
</p>

<p>
  Warning: The email evictions@mail.arnallfamilyfoundation.org is not monitored, please do not reply to it. If you have any questions, please contact info@arnallfamilyfoundation.org
</p>