<p>
  <strong>Key:</strong><br/>
  "-" = missing from expected<br/>
  "+" = new from expected<br/>
  "~" = different from expected<br/>
</p>
<p>
  <strong>Errors:</strong><br/>
  <% @errors.each do |error| %>
    <strong><%= error.section %></strong>
    <%= error.message %><br/>
    <% if error.differences %>
      Differences:<br/>
      <% error.differences %>
    <% end %>
  <% end %>
</p>
